# GCPプロジェクトの設定
project: 'my-project-id'  # GCPプロジェクトID
region: 'us-west1'        # デフォルトリージョン
zone: 'us-west1-c'       # デフォルトゾーン

# リソース名の設定
prefix: 'dev'            # リソース名のプレフィックス（任意、例: dev, stg, prod）
tfstate_bucket: 'my-tfstate-bucket'  # Terraformの状態を保存するGCSバケット名

# ドメイン設定
domain: 'example.com'    # ベースドメイン
subdomain: 'dev'         # サブドメイン（例: dev.example.com）

# Cloudflare設定
cloudflare_api_token: '' # CloudflareのAPIトークン

# ArgoCD設定
repository_name: 'my-repo' # ArgoCDで使用するリポジトリ名

# 以下はTerraformによって自動生成された値を設定する
clusterName: ''
clusterLocation: 'us-west1-c'
full-domain: ''
certificate-map: ''
