project: ''
region: 'us-west1'
zone: 'us-west1-c'
prefix: ''
tfstate_bucket: ''
domain: ''
subdomain: ''
# Cloudflare subdomain delegation
cloudflare_api_token: ''
# ArgoCD
repository_name: ''
# Terraform generated values
clusterName: ''
clusterLocation: 'us-west1-c'
full-domain: ''
certificate-map: ''
