project              = "xxx"
region               = "us-west1"
zone                 = "us-west1-c"
prefix               = "xxx"
tfstate_bucket       = "xxx"
domain               = "xxx"
env                  = "xxx"
# Cloudflare subdomain delegation
cloudflare_api_token = "xxx"
# ArgoCD
repository_name      = "xxx"
